<article>
    <div class="breakfast d-flex flex-column align-items-start justify-content-center align-content-center">
        <h2 class="align-self-stretch">Breakfast</h2>
        <input type="text" name="nameOfDish" placeholder="Name of dish">
        <input type="text" name="linkToRecipe" placeholder="Link to recipe">
        <label for="recipe">Recipe</label>
        <textarea class="align-self-stretch" name="recipe" cols="30" rows="7"></textarea>
        <label for="ingredients">Ingredients</label>
        <textarea  class="align-self-stretch" name="ingredients" cols="30" rows="7"></textarea>
    </div>
</article>
<article>
    <div class="lunch d-flex flex-column align-items-start justify-content-center align-content-center">
        <h2 class="align-self-stretch">Lunch</h2>
        <input type="text" name="nameOfDish" placeholder="Name of dish">
        <input type="text" name="linkToRecipe" placeholder="Link to recipe">
        <label for="recipe">Recipe</label>
        <textarea class="align-self-stretch" name="recipe" cols="30" rows="7"></textarea>
        <label for="ingredients">Ingredients</label>
        <textarea class="align-self-stretch" name="ingredients" cols="30" rows="7"></textarea>
    </div>
</article>
<article>
    <div class="dinner d-flex flex-column align-items-start justify-content-center align-content-center">
        <h2 class="align-self-stretch">Dinner</h2>
        <input type="text" name="nameOfDish" placeholder="Name of dish">
        <input type="text" name="linkToRecipe" placeholder="Link to recipe">
        <label for="recipe">Recipe</label>
        <textarea class="align-self-stretch" name="recipe" cols="30" rows="7"></textarea>
        <label for="ingredients">Ingredients</label>
        <textarea class="align-self-stretch" name="ingredients" cols="30" rows="7"></textarea>
    </div>
</article>
<article>
    <div class="snack d-flex flex-column align-items-start justify-content-center align-content-center">
        <h2 class="align-self-stretch">Snack</h2>
        <input type="text" name="nameOfDish" placeholder="Name of dish">
        <input type="text" name="linkToRecipe" placeholder="Link to recipe">
        <label for="recipe">Recipe</label>
        <textarea class="align-self-stretch" name="recipe" cols="30" rows="7"></textarea>
        <label for="ingredients">Ingredients</label>
        <textarea class="align-self-stretch" name="ingredients" cols="30" rows="7"></textarea>
    </div>
</article>